body{
    background-color: rgb(26, 26, 26);
    color: rgb(176, 173, 173);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    text-align: center;
    padding: 10px;
}

div{
    font-size: 14pt;
    color: rgb(200, 198, 198);
    text-align: center;
}
#src{
    font-size: 10pt;
    color: gray;
}
button{
    padding: 10px;
    justify-content: center;
    margin: 10px;
    border-radius: 12pt;
    box-shadow: 1px 1px 5px rgb(77, 77, 77);
}
button:hover{
    cursor: pointer;
}